<body>
  <section class="container">
    <div class="jumbotron bg-light center-align shadow p-3 mb-5 bg-white rounded">
      <h4 class="jumbotron-header"><i><b>New Competition</b></i></h4>
      <%= form_with model: @competition, url: competitions_path, local: :true do |f| %>
        <%= f.label :name, "Name:" %> <br>
        <%= f.text_field :name %> <br><br>
        <%= f.label :score_type, "Score Type:" %> <br>
        <%= f.select :score_type, ['wins', 'points'] %> <br><br>
        <%= f.label :point_limit, "Point Limit:" %> <br>
        <%= f.number_field :point_limit %> <br><br>
        <%= f.submit "Create" %>
      <% end %>
    </div>
  </section>
</body>