<header>
  <h2 class="welcome-header center-align text-secondary"><b><i>Lists</i></b></h2>
  <div class="center-align">
    <%= button_to "Create a List", new_user_list_path, method: :get, class: "btn btn-outline-secondary" %>
  </div>
</header><hr>

<body>
  <div class="card-columns" id="lists">
    <% @lists.each do |list| %>
      <div class="card">
        <div class="card text-center" id="list-<%= list.id %>">
          <div class="card-body">
            <div class="card-title btn-group dropend">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b><i><%= list.name %></i></b>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Create A Task", new_list_task_path(list), class: "dropdown-item text-success" %></li>
                <div class="dropdown-divider"></div>
                <li><%= link_to "Edit", edit_user_list_path(@user, list), class: "dropdown-item text-secondary"%></li>
                <li><%= link_to "Delete", user_list_path(@user, list), method: :delete, class: "dropdown-item text-danger" %></li>
              </ul>
            </div>
            <div id="list-<%= list.id %>-incomplete">
              <% list.tasks.each do |task| %>
                <% if task.incomplete? %>
                  <div class="btn-group dropright card-body col">
                    <button type="button" class="btn dropdown text-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= task.name %>
                    </button>
                    <div class="dropdown-menu">
                      <li class="dropdown-item"><b><i><%= task.description %></i></b></li>
                      <li class="dropdown-item disabled text-danger"><b><i><%= task.due %></i></b></li>
                      <div class="dropdown-divider"></div>
                      <%= link_to "Edit", edit_list_task_path(list, task), class: "dropdown-item text-secondary" %>
                      <%= link_to "Complete", list_task_path(list, task, task: {status: 'complete'}), method: :patch, class: "dropdown-item text-success" %>
                      <%= link_to "Remove", list_task_path(list, task), method: :delete, class: "dropdown-item text-danger" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div><hr>
            <div id="list-<%= list.id %>-complete">
              <% list.tasks.each do |task| %>
                <% if task.complete? %>
                  <div class="btn-group dropright card-body col">
                    <button type="button" class="btn dropdown text-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= task.name %>
                    </button>
                    <div class="dropdown-menu">
                      <li class="dropdown-item"><b><i><%= task.description %></i></b></li>
                      <li class="dropdown-item text-danger"><b><i>Due: <%= task.due %></i></b></li>
                      <div class="dropdown-divider"></div>
                      <%= link_to "Edit", edit_list_task_path(list, task), class: "dropdown-item text-secondary" %>
                      <%= link_to "Incomplete", list_task_path(list, task, task: {status: 'incomplete'}), method: :patch, class: "dropdown-item text-warning" %>
                      <%= link_to "Remove", list_task_path(list, task), method: :delete, class: "dropdown-item text-danger" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>  
          <div class="card-footer text-muted text-right">
            <small><i>created by <%= list.user.name %></i></small>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
</body>