<header>
  <h1 class="welcome-header">Noodle</h1>
</header>

<body class="welcome-body">
  <section class="welcome-login">
    <h3 class="welcome-header" style="color: lightgray;">Login:</h4>
    <div style="text-align: center;">
      <%= form_with method: :get, local: :true do |f| %>
      <%= f.label :email, "Email: " %> <br>
      <%= f.text_field :email %> <br><br>
      <%= f.label :password, "Password:" %> <br>
      <%= f.password_field :password %> <br><br>
      <%= f.submit :login %>
      <% end %>
    </div>
  </section>
</body>