<body>
  <div class="card-columns">
    <div class="card bg-light center-align shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="card-title center-align">
          <h4>Partner</h4>
        </div>
        <div class="card-text">
          <% if @partner.nil? %>
              <%= form_with url: user_partner_requests_path, local: :true do |f|%>
                <%= f.label :partner_email, "Partner's Email:" %>
                <%= f.email_field :partner_email %>
                <%= f.submit "Request" %>
            <% end %> <hr>
            <% @user.incoming_requests_with_names.each do |request| %>
              <strong>You have a new request from <%=request.username %>!</strong>
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= button_to "Accept", user_partner_path(@user, request.user), method: :patch, class: "btn btn-success btn-sm" %> <%= button_to "Reject", user_partner_request_path(@user, request), method: :delete, class: "btn btn-danger btn-sm" %>
              </div>
            <% end %>
          <% end %>
          <% if @partner %>
              <strong style="text-decoration: underline; font-size:larger;"><%= @partner.name %></strong> <br>
              <b>Birthday:</b> <i><%= @partner.birthday %></i> <br>
              <b>Email:</b> <i><%= @partner.email %></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>